*,::after,*::before {
    list-style-type: none;

}

html{

  font-family: "Poppins",sans-serif;
  text-transform: uppercase;
  color: #ebebeb;
  min-width: 80px;
  margin: auto;
  text-align:center;
  font-size: 1em;
  
  
}
.logo {

    
    border-bottom: 1px solid #ccc;
    background: linear-gradient(to bottom, #a65431, #b58440);  
    margin-bottom: 35px;
    margin-top: 15px;
    width : 50%;
    box-shadow: white 1px 1px 3px;
    height: 150px; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 10px;

    
}


body {

  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
  background-image: url("https://i.ibb.co/p1KzhTV/background.jpg");

}

h1 {

  font-size: 35px;
  font-weight: bolder;
  font-family:'Roboto', sans-serif;
  color:black;
  
}

#h2{

    font:bold 1.7em Verdana;
    padding: 5px 0 5px 8px;
    color:black;
    text-align: center;
  
}

.main{
    width: 80%;
    float:none;
    padding : 25px;
    margin : auto;

    
}

figure {
    float:left;
    border-radius: 1.5em;
    border-color :#27262c;
    background: linear-gradient(to bottom, #a65431, #b58440);
    height: auto;
    padding : 10px;
    border-radius:20px;
    cursor:pointer;
}
.form-database{
    text-align: center;
}

footer{

    clear:both;
}

footer p{

    font:1.4em Georgia;
    color: #ebebeb;
    text-align:center;
    font-size: 1em;
    width: 80px auto;
    padding: 10px;
    border-top:#585858 2px solid;
    text-transform: uppercase;
    
}
  
/* LI HOVER */

li {
    padding: 1rem 2rem 1.15rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #ebebeb;
    min-width: 80px;
    margin: auto;
    text-align:center;
    font-family:Arial;
    font-size: 1em;
    outline: 2px
    
  }
  
li:hover {
    background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
    background-size: 100% 100%;
    color: #27262c;
    animation: spring 1200ms ease-out;
    text-shadow: 0 -1px 0 #ef816c;
    font-weight: bold;
    
}
li:active {
    transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}


/* Form CSS */

.form-database {

    display : block;
    width : 50%;
    margin: 1rem  auto;
    display : flex;
    flex-direction: column;

}

.form-database input {

  margin : 0.5rem 0rem;
  line-height: 2rem;
  background-color: white ;
  outline: 0;
  border: 0;
  color:black;

}

.form-database input:active{

  border-bottom: 2px solid dodgerblue;
}

.form-database input:focus{

  border-bottom: 2px solid dodgerblue;
}

.form-database button {

  margin : 1rem 0rem;
  border : 0;
  outline: 0;
  background-color: rgb(185, 220, 255);
  height: 3rem;
  border-radius: 5px;
  text-transform : uppercase; 
  color : black;
  font : bold 5px;
  font-size: 1.2em;
  cursor : pointer;
}

/* List of Boardgames Database */

.List-of-Boardgames {

  display:flex;
  flex-direction: column;
}

.task {

  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height:4rem;
}

.icon {
  color:blue;
  cursor:pointer;
}

